aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.10.0
bs4==0.0.1
cachetools==5.0.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.4
cssselect==1.1.0
discord==1.7.3
discord-components==2.1.2
discord-py-slash-command==3.0.3
discord.py==1.7.3
disnake==2.4.0
et-xmlfile==1.1.0
fake-useragent==0.1.11
google-auth==2.6.2
google-auth-oauthlib==0.5.1
gspread==5.2.0
idna==3.3
importlib-metadata==4.11.3
install==1.3.5
lxml==4.8.0
multidict==6.0.2
oauthlib==3.2.0
openpyxl==3.0.9
parse==1.19.0
pretty-errors==1.2.25
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyee==8.2.2
pyppeteer==1.0.2
pyquery==1.4.3
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
requests-html==0.10.0
requests-oauthlib==1.3.1
rsa==4.8
six==1.16.0
soupsieve==2.3.1
tqdm==4.63.0
twitchAPI==2.5.3
typing-extensions==4.1.1
urllib3==1.26.9
w3lib==1.22.0
websockets==10.2
xlwt==1.3.0
yarl==1.7.2
zipp==3.7.0
