{% extends "base.html" %}

{% block content %}
    <div class="app">
        <img src="{{ url_for('static', filename='samuro.png') }}" alt="Samuro" height="128" width="128">
        <div class="links">
            <a href="https://canary.discord.com/api/oauth2/authorize?client_id=664368184790614016&permissions=52289&scope=bot%20applications.commands" title="Добавить Самуро">
                <img src="{{ url_for('static', filename='user-plus.svg') }}" alt=""></a>
            <a href="https://github.com/fennr" title="GitHub">
                <img src="{{ url_for('static', filename='github.svg') }}" alt=""></a>
            <a href="https://fennr.github.io/" title="Fenrir">
                <img src="{{ url_for('static', filename='star.svg') }}" alt=""></a>
        </div>
    </div>
{% endblock %}

