{% extends "base.html" %}

{% block content %}
    <div class="app">
        <img src="https://mousey.app/mousey.33d1ed5f.svg" alt="Mousey" height="128" width="128">
        <div class="links">
            <a href="https://discord.com/oauth2/authorize?client_id=288369203046645761&amp;permissions=961932534&amp;scope=applications.commands+bot" title="Add Mousey">
                <img src="https://mousey.app/user-plus.c814ad77.svg" alt=""></a>
            <a href="https://github.com/LostLuma/Mousey" title="GitHub">
                <img src="https://mousey.app/github.c320cbfd.svg" alt=""></a>
            <a href="https://lostluma.dev" title="LostLuma">
                <img src="https://mousey.app/star.22030f99.svg" alt=""></a>
        </div>
    </div>
{% endblock %}

